<span ng-show="$ctrl.loadStatus === 'loaded'">
  <form novalidate>
    <label>First Name: <input type="text" ng-model="$ctrl.user.first_name"></label><br>
    <label>Last Name: <input type="text" ng-model="$ctrl.user.last_name"></label><br>
    <label>E-Mail: <input type="text" ng-model="$ctrl.user.email"></label><br>
    <label>Account Enabled: <input type="checkbox" ng-model="$ctrl.user.enabled"></label><br>

    <input type="button" ng-click="$ctrl.updateUser()" value="Update"/>
  </form>

  <a href="{{$ctrl.links.show}}">[Show Details]</a>
  <a href="{{$ctrl.links.delete}}">[Delete User]</a>
</span>
<span ng-show="$ctrl.loadStatus === 'unloaded'">
  Loading...
</span>
<span ng-show="$ctrl.loadStatus === 'error'">
  Not Found
</span>
<hr>
